<div class="main_component" fxLayout="row wrap" fxLayoutAlign="space-around start">
  <mat-card *ngFor="let user of everyone" fxFlex="calc(25%)" class="user-card">
    <mat-card-header>{{ user.username }}</mat-card-header>
    <mat-card-content>
      <mat-card-actions>
        <button mat-icon-button aria-label="Add friend" matTooltip="Add friend" color="primary" type="submit" (click)="addFriend(user.id)">
          <mat-icon>person_add</mat-icon>
        </button>
      </mat-card-actions>
    </mat-card-content>
  </mat-card>
</div>
