<ul class="list-group list-group-flush shadow-sm rounded-4 border border-primary-light bg-primary-pale animate__animated animate__fadeInLeft">
  @if (!(loggedInUser)) {
    <li class="list-group-item bg-primary-pale border-0">
      <a [routerLink]="'signup'" (click)="close()" class="d-flex align-items-center gap-2 text-decoration-none text-primary-light fw-semibold">
        <mat-icon class="text-primary-light">app_registration</mat-icon>
        <span>Login</span>
      </a>
    </li>
  }
  @if (loggedInUser) {
    <li class="list-group-item bg-primary-pale border-0">
      <a [routerLink]="'signup'" (click)="logout(); close()" class="d-flex align-items-center gap-2 text-decoration-none text-primary-light fw-semibold">
        <mat-icon class="text-primary-light">exit_to_app</mat-icon>
        <span>Logout</span>
      </a>
    </li>
    <li class="list-group-item bg-primary-pale border-0">
      <a [routerLink]="'people'" (click)="close()" class="d-flex align-items-center gap-2 text-decoration-none text-primary-light fw-semibold">
        <mat-icon class="text-primary-light">people</mat-icon>
        <span>People</span>
      </a>
    </li>
    <li class="list-group-item bg-primary-pale border-0">
      <a [routerLink]="'main'" (click)="close()" class="d-flex align-items-center gap-2 text-decoration-none text-primary-light fw-semibold">
        <mat-icon class="text-primary-light">home</mat-icon>
        <span>Main</span>
      </a>
    </li>
    <li class="list-group-item bg-primary-pale border-0">
      <a [routerLink]="'friends'" (click)="close()" class="d-flex align-items-center gap-2 text-decoration-none text-primary-light fw-semibold">
        <mat-icon class="text-primary-light">contacts</mat-icon>
        <span>Friends</span>
      </a>
    </li>
    <li class="list-group-item bg-primary-pale border-0">
      <a [routerLink]="'messages'" (click)="close()" class="d-flex align-items-center gap-2 text-decoration-none text-primary-light fw-semibold">
        <mat-icon class="text-primary-light">message</mat-icon>
        <span>Messages</span>
      </a>
    </li>
    <li class="list-group-item bg-primary-pale border-0">
      <a [routerLink]="'profile'" (click)="close()" class="d-flex align-items-center gap-2 text-decoration-none text-primary-light fw-semibold">
        <mat-icon class="text-primary-light">face</mat-icon>
        <span>Profile</span>
      </a>
    </li>
  }
</ul>
