<div>
  <h1>Signup</h1>
    <form [formGroup]="signUpFrom" (ngSubmit)="onSubmit()">
      <div>
        <label for="email">Email:</label>
        <input type="email" name="email" id="email" formControlName="email">
      </div>
      <div>
        <label for="password">Password:</label>
        <input type="password" name="password" id="password" formControlName="password">
      </div>
      <div>
        <label for="password_re">Password again:</label>
        <input type="password" name="password_re" id="password_re" formControlName="password_re">
      </div>
      <div>
        <button type="submit">Signup</button>
        <button (click)="goBack()">Back</button>
      </div>
  </form>
</div>
