<mat-sidenav-container>
  <mat-sidenav #sidenav>
    <app-menu (selectedPage)="changePage($event)" [currentPage]="page" *ngIf="page" [loggedInUser]="loggedInUser" (onCloseSidenav)="onClose($event, sidenav)"  (onLogout)="logout($event)"></app-menu>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <div>TEXTME-APP</div>
      <div fxFlex fxLayout fxLayoutAlign="flex-end" class="navigation-wrapper" fxHide.lt-sm>
        <ul fxLayout fxLayoutGap="5px" class="navigation-items">
          <li *ngIf="!(loggedInUser)"><a routerLink="/login">Login</a></li>
          <li *ngIf="!(loggedInUser)"><a routerLink="/signup">Register</a></li>
          <li *ngIf="loggedInUser"><a routerLink="/login" (click)="logout($event)">Logout</a></li>
          <li *ngIf="loggedInUser"><a routerLink="/main">Main</a></li>
          <li *ngIf="loggedInUser"><a routerLink="/friends">Friends</a></li>
          <li *ngIf="loggedInUser"><a routerLink="/messages">Messages</a></li>
          <li *ngIf="loggedInUser"><a routerLink="/profile">Profile</a></li>
        </ul>
      </div>
      <div class="hamburger-menu-wrapper">
        <button mat-icon-button (click)="onToggleSidenav(sidenav)">
          <mat-icon>menu</mat-icon>
        </button>
      </div>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
