a {
  text-decoration: none;
  color: white;
}

a:hover, a:active {
  color: lightgray;
}

.navigation-items {
  display: flex;
  flex-direction: row;
  gap: 10px;
  list-style: none;
  padding: 0;
  margin: 0;
}

mat-sidenav {
  width: 250px;
}

.navigation-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  padding-left: 10px;
}

h1{
  text-align: center;
}

/* General Container */
mat-sidenav-container {
  height: 100vh;
}

mat-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hamburger-menu-wrapper {
  margin-right: 10px;
}

.app-title {
  font-size: 1.5em;
  font-weight: bold;
}

.navigation-wrapper {
  display: flex;
  align-items: center;
}

/* Navigation Items */
.navigation-items {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
}

.navigation-items li {
  display: inline-block;
}

.navigation-items button {
  text-transform: capitalize;
}

mat-icon-button {
  margin-left: 10px;
}
