
<mat-drawer-container class="main_component" fxFlex fxLayout="row">
  <mat-drawer #drawer mode="side" opened class="Chats" fxLayoutAlign="start center" fxLayoutGap="2" fxLayout="column">
    <mat-card class="ChatsPeople" *ngFor="let friendName of friendChats">
      <mat-card-header (click)="openChatWindow(friendName[1])">{{ friendName[0] }}</mat-card-header>
    </mat-card>
  </mat-drawer>
  <button (click)="addToChat()">Add friend to group</button>
  <button (click)="createNewChat()">Create new chat</button>
  <mat-drawer-content fxLayout="column" fxLayoutAlign="center center" *ngIf="hider && chattingWith">
    <mat-card>
      <mat-card fxFlex class="Guy" *ngFor="let message of chatMessages">
        <mat-card-header>From:{{ message.owner | fromUserIdToName | async }}</mat-card-header>
        <mat-card-content fxLayoutAlign="center center">
          {{ message.text }}
        </mat-card-content>
      </mat-card>
      <mat-card-footer>
        <div class="Write" fxLayoutAlign="end">
          <mat-form-field>
            <textarea matInput cdkTextareaAutosize [formControl]="messageToSend"></textarea>
          </mat-form-field>
          <button mat-raised-button type="submit" (click)="onSend(chattingWith)">Send</button>
        </div>
      </mat-card-footer>
    </mat-card>
  </mat-drawer-content>
</mat-drawer-container>

