.main_component {
  height: 1000vh;

}
mat-drawer-content{
  position: absolute;
  left: 50%;
  right: 50%;
}
#current{
  text-align: center;
  font-size: larger;
  border: black 1px solid;
  padding-bottom: 15px;
}
.danger{
  background-color: red;
  color: white;
  cursor: pointer;
}
mat-card-content{
  text-justify: auto;
}
.poniter{
  cursor: pointer;
}
