.main_component {
  height: 100vh;
}

mat-drawer-content {
  width: 50%;
  margin: 0 auto;
}

.chat-messages-container {
  flex: 1;
  overflow-y: auto; /* Allows scrolling */
  padding: 15px;
  margin-bottom: 10px; /* Creates space for the footer */
}

#current {
  text-align: center;
  font-size: larger;
  border: black 1px solid;
  padding-bottom: 15px;
}

.danger {
  background-color: red;
  color: white;
  cursor: pointer;
}

mat-card-content {
  text-justify: auto;
}

.pointer {
  cursor: pointer;
}
