@use '@angular/material' as mat;

@include mat.core();

// Define your custom palette using your colors
$custom-green: (
  50 : #e1eebc,
  100: #d3e7a3,
  200: #c4e08a,
  300: #b6d971,
  400: #90c67c, // your color
  500: #67ae6e, // your color
  600: #4e9e6e,
  700: #328e6e, // your color
  800: #297e5e,
  900: #206e4e,
  A100: #e1eebc, // your color
  A200: #90c67c, // your color
  A400: #67ae6e, // your color
  A700: #328e6e, // your color
  contrast: (
    50 : rgba(0,0,0,0.87),
    100: rgba(0,0,0,0.87),
    200: rgba(0,0,0,0.87),
    300: rgba(0,0,0,0.87),
    400: white,
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
    A100: rgba(0,0,0,0.87),
    A200: rgba(0,0,0,0.87),
    A400: white,
    A700: white,
  )
);

$jokiswebfelj-2024-primary: mat.define-palette($custom-green);
$jokiswebfelj-2024-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);
$jokiswebfelj-2024-warn: mat.define-palette(mat.$red-palette);

$jokiswebfelj-2024-theme: mat.define-dark-theme((
  color: (
    primary: $jokiswebfelj-2024-primary,
    accent: $jokiswebfelj-2024-accent,
    warn: $jokiswebfelj-2024-warn,
  ),
  typography: mat.define-typography-config(),
  density: 0
));

@include mat.all-component-themes($jokiswebfelj-2024-theme);